---
import MainHead from '../components/MainHead.astro';
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <MainHead title='Chad Fernandez | My Home in the Internet' />
        <link rel="stylesheet" type="text/css" href="/style/index.css">

    </head>

    <body>
        <header>
            <div class="home-header-ident">
                <h1 class="home-header-ident-main">Chad Fernandez</h1>
                <p class="home-header-ident-desc">My Home in the Internet</p>
            </div>
        </header>

        <h2>This is a work in progress. Please come back again in a few weeks or so...</h2>
    </body>

</html>
