---
import MainHead from '../components/MainHead.astro';
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <MainHead title='Chad Fernandez | My Home in the Internet' />
        <link rel="stylesheet" type="text/css" href="/style/index.css">

    </head>

    <body>

        <div class="index-navigation noselect">
            <nav class="index-navigation-nav">
                <ul class="index-navigation-nav-main">
                    <li><a class="underline-simple" href="/">Home</a></li>
                    <li><a class="underline-simple" href="/old-index">Old Index</a></li>
                </ul>
            </nav>
        </div>

        <!-- Home (index) specific Header. Uses index.css for styling -->
        <div class="index-header noselect">
            <h1>Chad <b>Fernandez</b></h1>
            <p>Working on new interesting things.</p>
        </div>

        <div class="glo-footer index-footer noselect">
            <p>Copyright © Chad Fernadez. Made with 🚀 Astro</p>
            <p class="index-footer-mail"><a class="underline-point" href="mailto:me@chadfernandez.xyz"><span>me@chadfernandez.xyz</span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg></a></p>
        </div>

        <!-- ADD SOCIAL MEDIA BUTTON HERE :: CENTERED-->

    </body>

</html>
