---
const { title = 'Chad Fernandez | My Home in the Internet' } = Astro.props;
---

<!--
    # MainHead will be the primary header for all pages in the site.
    # This will contain global styles, backup styles, and meta tags
    # such as for responsiveness, and more.

-->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{title}</title>

<!-- Add CSS Files here, as well as other stuff related to styling -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="stylesheet" type="text/css" href="/style/global.css">
<link rel="stylesheet" type="text/css" href="/style/support.css">


<!-- END OF FILE -->